<ion-header class="ion-no-margin" [translucent]="true">
  <ion-toolbar class="ion-no-margin">
    <div class="back-circle"></div>
    <div class="header">
      <h4>DeCodis</h4>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="title">
    <h1>Selecciona lo que deseas hacer</h1>
  </div>
  <div style="text-align: center; padding: 1em">
    <ion-button expand="block"  routerLink="/dna">Ingresar un perfil de ADN</ion-button>
  </div>
  <div style="text-align: center; padding: 1em">
    <ion-button expand="block"  routerLink="/sample">Comparar una muestra</ion-button>
  </div>
</ion-content>
